<nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">MEAN Auth</a>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a [routerLink]="['/']">Home</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
              <a [routerLink]="['/login']">Login</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
              <a [routerLink]="['/register']">Register</a>
          </li>
      </ul>

    </div>
  </nav>
